<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="style.css">
    {% block head %}{% endblock %}
    <title>Gym Manager</title>
  </head>
  <body>
    <header>
      <div class="links">
        <a href="/" class="active">Instructors</a>
        <a href="/members">Members</a>
      </div>
    </header>
   
    {% block content %}{% endblock %}

  </body>
</html>