<div class="item">
  <div>avatar URL</div>
  <div>
    <input 
    type="url" 
    name="avatar_url"
    placeholder="htpp://"
    value="{{ dataseat.avatar_url }}"
    >
  </div>
</div>
<div class="item">
  <div>Instructor</div>
  <div>
    <input 
    type="text" 
    name="name"
    placeholder="Nome do instrutor"
    value="{{ dataseat.name }}"       
    >
  </div>
</div>
<div class="item">
  <div>          
    Dada de nascimento
  </div>
  <div>
    <input 
    type="date" 
    name="birth"
    value="{{ dataseat.birth }}"    
    >
  </div>
</div>
<div class="item">
  <div>Sexo</div>
  <div>
    <span><input 
    type="radio" 
    name="gender" 
    value="M"
    {% if dataseat.gender == "M"%}
      checked
    {% endif %}
    >
    Masculino</span>
    <span><input 
    type="radio" 
    name="gender" 
    value="F"
    {% if dataseat.gender == "F"%}
      checked
    {% endif %}
    >
    Ferminino</span>
  </div>
</div>
<div class="item">
  <div>Área de atuação</div>
  <div>
    <input 
    type="text" 
    name="services"
    placeholder="Separe os serviços prestados por vírgula"
    value="{{ dataseat.services }}"
    >
  </div>
</div>

<button type="submit">Salvar</button>