{% extends 'layout.njk' %}
    
    {% block style %}
      <link rel="stylesheet" href="/iframe.css">
    {% endblock %}

  {% block content %}
      <div class="iframe-content">
        <iframe src="https://blog.rocketseat.com.br/{{ id }}" frameborder="0"></iframe>
      </div>
  {% endblock %}
