{% extends "layout.njk" %}

  {% block head %}
    <title>Aula - Mayk</title>
  {% endblock %}

  {% block content %}
    <div id="wrapper">
      <h1>{{item.title}}</h1>
    </div>
    <section class="video">
      <div class="card" id="{{item.id}}">
        <div class="card_video-container">
          <iframe src="https://www.youtube.com/embed/GykTLqODQuU" frameborder="0"></iframe>
        </div>
      </div>
    </section>
  {% endblock %}